/*tamanho 1920x1080*/

/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #0E1014; 
}



header{
    display: flex;
    gap: 950.71px;
    width: auto;
    margin: 75px 0 0 360px;

    .logo{
        height: 34px;
        width: 209.9px;

    }
    .botao{
        border:none;
        background-color: transparent;
        height: 40px;
        width: 40px;
    }
    .botao:hover{
        cursor: pointer;
    }
}

.central{
    text-align: center;  
    font-family: "Poppins", "sans-serif";
    h1{
        color: #9747FF;
        font-family:"Unbounded", "sans-serif";
        font-size: 64px;
        margin-bottom: 24px;
        margin-top: 60px;
        font-weight:700;

        span{
            color: #FFFFFF;
        }
    }

    p{
        color: #FFFFFF;
        font-size: 24px;
        width: 792px;
        margin:0 auto 40px;
        font-weight:400;
 
    }
    a{
        display: block;
        width: 340px;
        height: 66px;
        background-color: #9747FF;
        color: #FFFFFF;
        text-decoration: none;
        border:none;
        border-radius: 36px;
        font-size: 24px;
        text-align:center;
        line-height: 66px;
        margin: 0 auto 40px;

    }    
    a:hover{
        background-color:#8233E8;
        cursor: pointer;
    }
        
    img{
        width: 792px;
        height: 446px;
        margin: 0 auto 0;
    }

}


/*o que deve mudar quando a largura diminuir para 768*/
@media(max-width: 768px){
    header{
        margin: 65px 0 0px 60px;
        gap: 398.71px;   
    }
    
    .central{
        h1{
            margin-top: 72px;
        }
        p{
            width: 648px;
        }
        img{
            width: 659.5px;
        }
    }
    
}


@media(max-width:375px){
    header{
        margin: 32px 0 0px 16px;
        gap: 92.71px;
    }
    
    .central{
        h1{
            margin: 60px auto 24px;
            font-size: 40px;
            width: 341px;
        }
        p{
            font-size: 20px;
            width: 341px;
        }
        a{
            width:251px;
        }
        img{
            width:341px;
            height:240.61px;   
            

        }
    }
    
}
