

body{
    background-color: #0E1014; 
}

.central{
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align: center;  
    
    h1{
        color: #9747FF;
        font-size: 64pt;
        span{
            color: #FFFFFF;
        }
    }

    p{
        color: #FFFFFF;
        font-size: 24pt;
    }
    button{
        width: 340px;
        height: 66px;
        background-color: #9747FF;
        color: #FFFFFF;
        border:none;
        border-radius: 36px;
        font-size: 24pt;
        

    }
    img{
        width: 792px;
    }

}